@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    font-family: "Outfit";
    background-color: hsl(212, 45%, 89%);
}

body {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    background-color: hsl(212, 45%, 89%);
}

.qr-code-box {
    background-color: white;
    min-width: 270px;
    height: 65%;
    border-radius: 15px;
    display: grid;
    justify-content: center;
    grid-template-rows: 60% 40%;
    grid-template-columns: 250px;
    gap: 10px;
    justify-items: center;
    padding-top: 10px;
    padding-bottom: 20px;
    box-shadow: 2px 2px 50px 10px hsl(212, 45%, 85%);
}

#qr-code-image {
    border-radius: 15px;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-basis: auto;
    background-color: white;
}

.para {
    text-align: center;
    font-size: 15px;
    background-color: white;
}

.para-title {
    font-weight: 700;
    font-size: 18px;
    padding: 10px;
}

.para-description {
    font-weight: 400;
    font-size: 15px;
    padding: 10px;
    color: hsl(220, 15%, 55%);
}

